.huffman-visualizer {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: black;
}

.huffman-visualizer h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.huffman-visualizer .input-text {
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.huffman-visualizer .input-text:focus {
  border-color: #4e7dff;
  box-shadow: 0 0 5px rgba(78, 125, 255, 0.5);
}

.huffman-visualizer .run-button {
  padding: 10px 20px;
  background-color: #4e7dff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.huffman-visualizer .run-button:hover {
  background-color: #3c6dff;
}

.huffman-visualizer .tree-node-container {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.huffman-visualizer .tree-node {
  padding: 8px 16px;
  background-color: #f9f9f9;
  border-radius: 50%;
  border: 2px solid #4e7dff;
  margin: 5px 0;
  display: inline-block;
}

.huffman-visualizer .lines {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.huffman-visualizer .line-left,
.huffman-visualizer .line-right {
  height: 2px;
  width: 40px;
  background-color: #4e7dff;
  position: absolute;
  top: -10px;
}

.huffman-visualizer .line-left {
  transform: rotate(45deg);
  left: -40px;
}

.huffman-visualizer .line-right {
  transform: rotate(-45deg);
  right: -40px;
}

.huffman-visualizer .children {
  display: flex;
  justify-content: space-between;
}

.huffman-visualizer .navigation-buttons {
  margin-top: 20px;
}

.huffman-visualizer .navigation-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #4e7dff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.huffman-visualizer .navigation-buttons button:disabled {
  background-color: #d3d3d3;
}

.huffman-visualizer .navigation-buttons button:hover {
  background-color: #3c6dff;
}

.huffman-visualizer .queue-box rect {
  transition: all 0.3s;
}

.huffman-visualizer .queue-box rect:hover {
  fill: #87cefa;
}

.huffman-visualizer .queue-box {
  display: inline-block;
  margin-right: 15px;
}

.huffman-visualizer .queue-box text {
  font-size: 14px;
  text-anchor: middle;
  fill: #000;
}

.divider {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.queue-huffman {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
}

.queue-huffman .node {
  background-color: rgb(156, 232, 255);
  padding: 10px 15px;
  min-width: 50px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid black;
}
